body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v897-wan-01_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=74c2e8fb405d7dfc2406fdfd7a48b72e);
  background-size:cover;
}
